<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/stylesheet.css}"/>
    <title>Thymeleaf test</title>
</head>
<body>
<h1>Thymeleaf!</h1>
<p>Lorem ipsum dolor sit amet, elit.
    dolorem
    eaque
    nulla perspiciatis, repudiandae rerum temporibus tenetur. Accusamus aliquam
    aliquid aperiam dolore, dolores eos impedit laborum magnam minima, quisquam
    reiciendis.</p>
<img src="http://placehold.it/300x300/5fcf80/fffff" alt="logo"/>

</body>
</html>